ga/android/local.properties
env-setup.save

*.o
*.d
*.so
*.a
*.la
*.lo
*.out

*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
env-setup

*.tbz
*.exe

ga/client/ga-client
ga/server/periodic/ga-server-periodic
deps.src/libvpx-v1.3.0/vpxenc
